<%= form_with model: @comment, local: true  do |form| %>
<div class="submit">
  <%= form.text_area :content,class:"content" %><br>
  <%= form.file_field :image %><br>
  <%= form.submit value:"posuto" %>
</div>  
<% end %>