<h2>test</h2>

<script>
  $(function() {
    console.log('jQuery!');
});
</script>
  
<% @post.each do |post| %>
  <div class="post">
      <div id="test_like_<%= post.id %>">
        <%= render "home/apple",post: post %>
      </div>
<% end %>

